/* body*/
:root {
  --text: #434455;
  --primary-brand: #4D5AE5;
  --acsent: #E7E9FC;
  --light: #F4F4FD;
  --dark: #2e2f42;
  --pressed-state: #404BBF;
  --white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white);
  color: #434455;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.list-menu {
  gap: 40px;
}



header .container,
.nav,
.list-menu,
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

/* headers 1 2 3 */
.head-one {
  color: var(--white);
  text-align: center;
  font-family: inherit;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  color: #ffffff;
  max-width: 496px;
}

.who-we-are {
  padding: 120px 0;
}

.head-two {
  color: var(--dark);

  text-align: center;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.head-two-portfolio {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.head-three {
  color: var(--dark);
  margin-bottom: 8px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

}

/* lists */
.list {
  list-style: none;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.item-contacts {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.link {
  text-decoration: none;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  font-weight: 500;

}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state)
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  color: var(--dark);
}

/* paragraphs */
.n-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  font-weight: 400;
  text-align: center;
}

/* header */
.logo {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}



.partlogo-header {
  color: var(--dark);
}

.partlogo-footer {
  color: var(--light);
}

.contacts {
  color: var(--text);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;

}

.our-contacts {
  background-color: #F4F4FD;
  padding: 120px 0;
}

.our-work {
  padding-bottom: 120px;

}

.team-container {
  padding: 32px 0;
}

/* main */


.studio {
  background-color: var(--dark);
  padding: 188px 0;
}

/* buttons */


.studio-button {
  background-color: var(--primary-brand);
  color: var(--white, #FFF);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.studio-button:hover,
.studio-button:focus {
  background-color: var(--pressed-state);
}


.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--acsent);
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
}



/* footer */
.footer {
  background-color: var(--dark);
  padding: 100px 0;

}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
}

a {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding: 24px 0;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;

}

.item {
  width: calc((100% - 72px) / 4);
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;

  column-gap: 24px;


}

.portfolio-a {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}